/*Fold framework*/

@charset "UTF-8";

/*Text-selection/highlight color*/
::selection {
	background: #ddd; /* Safari */
	}
::-moz-selection {
	background: #ddd; /* Firefox */
}

.container-custom {
  padding-right: 13%;
  padding-left: 13%;
  padding-top: 5%;
  padding-bottom: 5%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 15px;
}